# Puerto por defecto
server.port=8080

# Configuracion de Gmail para el envio de correos
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=tu_correo@gmail.com
spring.mail.password=TU_CONTRASENA_DE_APLICACION_AQUI

# Parametros de seguridad de JavaMail para Gmail (TLS y Autenticacion)
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

# Logs de WS si es necesario
logging.level.org.springframework.ws=DEBUG
